export(Analyze.drawdowns)
export(Analyze.trades)
export(Analyze.years)
export(Backtest)
export(BarsSince)
export(BarsTo)
export(Calendar)
export(Cross)
export(ExRem)
export(Fill)
export(Summary)
export(Universe)
export(align.data.table)
export(align.decimal)
export(align.xts)
export(annualize)
export(as.dollar)
export(as.percent)
export(as.prices)
export(as.returns)
export(calendar)
export(capwords)
export(chunks)
export(compute.MCDD)
export(compute.annual.factor)
export(compute.annual.returns)
export(compute.avg.days.in.trade)
export(compute.avg.drawdown)
export(compute.avg.drawdown.length)
export(compute.avg.pnl)
export(compute.best.month)
export(compute.best.trade)
export(compute.best.year)
export(compute.cagr)
export(compute.downside.deviation)
export(compute.dvr)
export(compute.edge)
export(compute.expectancy)
export(compute.kestner)
export(compute.loss.avg.pnl)
export(compute.loss.month.avg.return)
export(compute.mar)
export(compute.max.drawdown)
export(compute.mean.excess.return)
export(compute.momentum)
export(compute.monthly.returns)
export(compute.ntrades)
export(compute.percent.in.market)
export(compute.pnl)
export(compute.profit.factor)
export(compute.r2)
export(compute.raw.annual.factor)
export(compute.rina)
export(compute.rolling.returns)
export(compute.sortino)
export(compute.stat)
export(compute.time.period)
export(compute.trades.per.year)
export(compute.twr)
export(compute.win.12m.rate)
export(compute.win.avg.pnl)
export(compute.win.loss.ratio)
export(compute.win.month.avg.return)
export(compute.win.months.rate)
export(compute.win.rate)
export(compute.win.years.rate)
export(compute.worst.month)
export(compute.worst.trade)
export(compute.worst.year)
export(drawdown)
export(dvr)
export(financial.index)
export(format.table)
export(indicator)
export(is.EOM)
export(is.EOW)
export(is.defined)
export(my.debug)
export(my.perf)
export(my.undebug)
export(newStrategy)
export(nyears)
export(organize.table)
export(p)
export(r2)
export(roundstep)
export(saveStrategy)
export(sharpe)
export(sigma)
export(stat.fun)
export(string.range)
export(strrange)
export(tic)
export(time.frame)
export(to.EOW)
export(toc)
export(total.return)
export(window.Date)
