exportPattern("^[^\\.]")
S3method("%AND%",Indicator)
S3method("%AND%",sfl)
S3method("%OR%",Indicator)
S3method("%OR%",sfl)
S3method(Ops,Indicator)
S3method(Ops,sfl)
S3method(align,data.table)
S3method(align,decimal)
S3method(align,xts)
S3method(format,table)
S3method(print,sfl)
S3method(window,Date)
export("%AND%")
export("%OR%")
export("%indicator%")
export("%position%")
export(Backtest)
export(BarsSince)
export(BarsTo)
export(Calendar)
export(Cross)
export(ExRem)
export(Fill)
export(Summary)
export(Universe)
export(Vis)
export(annualize)
export(anticipate)
export(as.data.table.xts)
export(as.dollar)
export(as.percent)
export(capwords)
export(chunks)
export(compute.annual.factor)
export(compute.raw.annual.factor)
export(delay)
export(dvr)
export(financial.index)
export(get.holidays)
export(get.instrument)
export(getOHLCV.yahoo)
export(indicator)
export(is.EOM)
export(is.EOW)
export(is.defined)
export(loadDB)
export(my.debug)
export(my.perf)
export(my.undebug)
export(newStrategy)
export(organize.table)
export(p)
export(r2)
export(roundstep)
export(saveDB)
export(saveStrategy)
export(shares)
export(sourceDir)
export(string.range)
export(strrange)
export(tic)
export(to.EOW)
export(toc)
export(updateDB)
export(upsert)
import(data.table)
