export(add.parameters)
export(Align)
export(align.digits)
export(Analyze.drawdowns)
export(Analyze.trades)
export(Analyze.years)
export(as.dollar)
export(as.percent)
export(BarsSince)
export(Benchmark)
export(capwords)
export(chunks)
export(compute.annual.factor)
export(compute.annual.returns)
export(compute.avg.days.in.trade)
export(compute.avg.drawdown)
export(compute.avg.drawdown.length)
export(compute.avg.pnl)
export(compute.best.month)
export(compute.best.trade)
export(compute.best.year)
export(compute.cagr)
export(compute.downside.deviation)
export(compute.dvr)
export(compute.edge)
export(compute.expectancy)
export(compute.kestner)
export(compute.loss.avg.pnl)
export(compute.loss.month.avg.return)
export(compute.mar)
export(compute.max.drawdown)
export(compute.MCDD)
export(compute.monthly.returns)
export(compute.ntrades)
export(compute.nyears)
export(compute.percent.in.market)
export(compute.pnl)
export(compute.premium)
export(compute.profit.factor)
export(compute.r2)
export(compute.raw.annual.factor)
export(compute.rina)
export(compute.rolling.returns)
export(compute.sharpe)
export(compute.sigma)
export(compute.sortino)
export(compute.stat)
export(compute.time.period)
export(compute.total.return)
export(compute.trades.per.year)
export(compute.twr)
export(compute.win.12m.rate)
export(compute.win.avg.pnl)
export(compute.win.loss.ratio)
export(compute.win.month.avg.return)
export(compute.win.months.rate)
export(compute.win.rate)
export(compute.win.years.rate)
export(compute.worst.month)
export(compute.worst.trade)
export(compute.worst.year)
export(createCluster)
export(cumreturn.panel)
export(default.panel.rev)
export(do_layout)
export(drawdown.panel)
export(Equity)
export(Execute)
export(ExRem)
export(Fill)
export(FinancialIndex)
export(format.stats)
export(getParBounds)
export(getPrice)
export(HealthTest)
export(init.strategy)
export(is.defined)
export(load.strategy)
export(loadIndicators)
export(makeWeights)
export(my.debug)
export(my.perf)
export(my.undebug)
export(na.skip)
export(ntop)
export(Plot.Equity)
export(Plot.returns)
export(plot.xts.custom)
export(portfolio)
export(Prepare.indicators)
export(Prepare.market)
export(Quantile)
export(RandomPortfolios)
export(Returns)
export(roundstep)
export(rule.hold)
export(rule.rand)
export(rule.TFH)
export(save.strategy)
export(Signals)
export(stat.fun)
export(string.range)
export(strrange)
export(Summary)
export(summary.returns)
export(Test)
export(Test.BuyHold)
export(Test.mean)
export(tic)
export(toc)
export(Trades)
export(Train)
export(TurnMonth)
export(updateIndicators)
export(updatePfolio)
export(updateSymbols)
export(ValuationPrices)
export(WalkForward)
export(Weights)
export(window.Date)
